/* UTILITIES */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
 
 a {
   text-decoration: none;
   color: white;
}
 
 li {
   list-style: none;
 }
 .navbar {
   background-color: black;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
 }
 .pages {
   display: flex;
   align-items: flex-end;
   gap: 1em;
   margin: 30px;
   margin-left: auto;
   font-size: 25px;
 }